body{
    background-color: chocolate;
}
#score{
    font-size: medium;
    margin-left: 200px;
}
#timer{
    font-size: medium;
    margin-right: 200px;
}
#sketchtobedrawn{
    color:darkorange
}